<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Register Page</h1>
<header th:replace="fragments/common::header"></header>

<form
        th:object="userRegisterDTO"
        th:action="/users/register"
        th:method="post">
    <div>
        <div class="col-auto">
            <label for="inputUsername" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
            <input th:field="*{username}">

        </div>
    </div>


</form>


<footer th:replace="fragments/common::footer"></footer>
</body>
</html>